.header {
  min-height: 100px;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
  overflow: hidden;

  @include medium-size {
    border-bottom: 1px solid $gray4;
    min-height: 65px;
    margin-bottom: 15px;
  }

  &.fixedHeader {
    min-height: 75px;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 70;
    border-bottom: 1px solid $gray4;

    @include medium-size {
      padding: 0 10px;
      min-height: 65px;
    }
  }

  &.headerHidden {
    transform: translateY(-100%);
  }

  &__logo {
    width: 70px;
    height: 45px;
  }
}

.nav {
  display: none;
  @include medium-size-mobile {
    display: block;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @include large-size-mobile {
      gap: 60px;
    }
  }
  &__link {
    a {
      display: inline-block;
      letter-spacing: 2px;
      font-size: 12px;
      color: #333333;
      text-transform: uppercase;
      @include TTHoves-bold;
      position: relative;
      transition: all 0.3s ease-in-out;

      &:hover {
        &::before {
          width: 100%;
          right: 0;
        }

        &::after {
          width: 100%;
          left: 0;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        height: 1px;
        background: #333333;
        right: 100%;
        width: 0;
        transition: width 0.3s ease, right 0.3s ease;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        height: 1px;
        background: #333333;
        left: 100%;
        width: 0;
        transition: width 0.3s ease, left 0.3s ease;
      }
    }
  }
}
