@import "./utilities/nullstyle.scss";
@import "./utilities/fonts";
@import "./utilities/colors.scss";
@import "./utilities/responsive";
@import "./general.scss";
@import "./sections/header.scss";
@import "./sections/burgerMenu.scss";
@import "./sections/introPage.scss";
@import "./sections/aboutSection.scss";
@import "./sections/tasksSection.scss";
@import "./sections/projectsSection.scss";
@import "./sections/connectSection.scss";
@import "./sections//footer.scss";

body {
  font-size: 18px;
  @include TTHoves-regular;

  &.locked {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.main {
  flex: 1 1 auto;
  margin-bottom: 40px;
  height: auto;
  width: 100%;
  
  @include medium-size-mobile {
    margin-bottom: 120px;
  }
}
